body {
    background-color: blue;
    user-select: none;
}

canvas {
    height: 500px;
}

ul {
    background-color: rgb(117, 33, 33);
list-style: none;
padding: 0px;
width: 888px;
}

h1 {
    text-shadow: 3px 3px rgb(2, 2, 182);
}

h1 , h3 {
    padding-left: 24px
}

h3 {
    padding-bottom: 24px;
    text-shadow: 2px 2px rgb(2, 2, 182);
}

canvas, ul, img {
    border-width: 5px;
    border-style:ridge;
    border-color: black;
}

img {
    z-index: 1;
    position: absolute;
    border-color: black;
}